body {
    background-color: #f8f9fa;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-container {
    padding-top: 50px;
  }
  
  .list-group-item {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }